{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="small-box c-bg1">
                <div class="div-img fl"><span class="today-icon icon1"></span></div>
                <div class="div-text fl">
                    <p>项目数</p>
                    <h3> 0 </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="small-box c-bg2">
                <div class="div-img fl"><span class="today-icon icon2"></span></div>
                <div class="div-text fl">
                    <p>设备数</p>
                    <h3> 0 </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="small-box c-bg3">
                <div class="div-img fl"><span class="today-icon icon4"></span></div>
                <div class="div-text fl">
                    <p>告警数</p>
                    <h3>0<span></span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!-- 引入 ECharts 文件 -->
<script src="/static/js/echarts/echarts.min.js"></script>
<script src="/static/js/echarts/macarons.js"></script>
{% endblock %}
