HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
bin/

### logs ###
logs/

### system file ###
.DS_Store

### python ###
venv
*.py[co]

### node ###
node_modules
package-lock.json
/invest/invest-desktop/dist

### xcode ###
reading/reading-mac/Pods/
reading/reading-mac/Carthage/
reading/reading-mac/build/
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*~.nib
*.xcuserstate

