<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>OneStack</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>{% if request.user.first_name %}{{ request.user.first_name  }}{% else %}{{ request.user  }}{% endif %}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    {% comment %} <br /> {% endcomment %}

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            {% comment %} <h3>General</h3> {% endcomment %}
            <ul class="nav side-menu">
                <li><a><i class="fa fa-tachometer"></i> 控制面板 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/">状态概览</a></li>
                        {% comment %} <li><a href="index2.html">Dashboard2</a></li> {% endcomment %}
                        {% comment %} <li><a href="index3.html">Dashboard3</a></li> {% endcomment %}
                    </ul>
                </li>
                <li><a><i class="fa fa-cubes"></i> 部署管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">主机管理</a></li>
                        <li><a href="#">分组管理</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a href="#">新增主机分组</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">远程命令</a></li>
                        <li><a href="#}">模块部署</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a
                                        href="#">模块列表</a>
                                </li>
                                <li class="sub_menu" style="display: none"><a href="#">新增模块</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">高级管理</a></li>
                        <li><a href="#">项目管理</a></li>
                        <li><a href="#">文件下载</a></li>
                        <li><a href="#">文件上传</a></li>
                        <li><a href="#">文件回滚</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> 资产管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">资产列表</a></li>
                        <li><a href="#">IDC机房</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a href="#">新增IDC</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-archive"></i> 备份管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">归档列表</a></li>
                        <li><a href="#">备份任务</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-bars"></i> 任务管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">任务列表</a></li>
                        <li><a href="#">任务查询</a></li>
                        <li><a href="#">存活任务</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-eye"></i> 系统监控 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">主机监控</a></li>
                        <li><a href="#">容器监控</a></li>
                        <li><a href="#">应用监控</a></li>
                        <li><a href="#">API监控</a></li>
                        <li><a href="#">网站监控</a></li>
                        <li><a href="#">报警配置</a></li>
                        <li><a href="#">安全审计</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-shield"></i> 堡垒机 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">主机监控</a></li>
                        <li><a href="#">容器监控</a></li>
                        <li><a href="#">应用监控</a></li>
                        <li><a href="#">API监控</a></li>
                        <li><a href="#">网站监控</a></li>
                        <li><a href="#">报警配置</a></li>
                        <li><a href="#">安全审计</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-database"></i> 知识库 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">添加文档</a></li>
                        <li><a href="#">浏览文档</a></li>
                        <li><a href="#">文档分组</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-users"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">查看用户</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a href="#">新增用户</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">查看用户组</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a
                                        href="#">新增用户组</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">权限配置</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a
                                        href="#">用户权限修改</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li><a href="#">远程目录</a>-->
                            <!--<ul class="nav child_menu">-->
                                <!--<li class="sub_menu" style="display: none"><a href="#">新增远程目录</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </li>
                <li><a><i class="fa fa-arrows"></i> 日志审计 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                        <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% comment %}
        <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="e_commerce.html">E-commerce</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="project_detail.html">Project Detail</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="profile.html">Profile</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="page_403.html">403 Error</a></li>
                        <li><a href="page_404.html">404 Error</a></li>
                        <li><a href="page_500.html">500 Error</a></li>
                        <li><a href="plain_page.html">Plain Page</a></li>
                        <li><a href="login.html">Login Page</a></li>
                        <li><a href="pricing_tables.html">Pricing Tables</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                            <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="level2.html">Level Two</a>
                                    </li>
                                    <li><a href="#level2_1">Level Two</a>
                                    </li>
                                    <li><a href="#level2_2">Level Two</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#level1_2">Level One</a>
                            </li>
                    </ul>
                    </li>
                    <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
            </ul>
        </div> {% endcomment %}
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>