<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>多级联动</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">

        <link rel="shortcut icon" href="assets/img/favicon.ico" />
        <!-- Loading Bootstrap -->
        <link href="assets/css/backend.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var require = {
                "config": {
                    "site": {
                        "name": "FastAdmin",
                        "cdnurl": "./",
                        "version": "1.0.0",
                        "timezone": "Asia/Shanghai",
                        "languages": {
                            "backend": "zh-cn",
                            "frontend": "zh-cn"
                        }
                    },
                    "upload": {
                        "cdnurl": "./",
                        "uploadurl": "data/upload.json",
                        "bucket": "yourbucketname",
                        "maxsize": "10mb",
                        "mimetype": "*",
                        "multipart": {
                            "policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
                            "signature": "043eaf09c0319b1a9a11d06511bfdc4e",
                            "bucket": "yourbucketname",
                            "save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
                            "expiration": 1500526573,
                            "notify-url": "http://www.yoursite.com/upyun/notify"
                        },
                        "multiple": false
                    },
                    "modulename": "admin",
                    "controllername": "cxselect",
                    "actionname": "index",
                    "jsname": "backend/example/cxselect",
                    "moduleurl": "./",
                    "language": "zh-cn",
                    "referer": null
                }
            };
        </script>
    </head>

    <body class="inside-header inside-aside ">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    控制台                                    <small>Control panel</small>
                                </h1>
                            </section>
                            <!-- RIBBON -->
                            <div id="ribbon">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="dashboard" class="addtabsit"><i class="fa fa-dashboard"></i> 控制台</a></li>
                                </ol>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="javascript:;" data-url="example">示例管理</a></li>
                                    <li><a href="javascript:;" data-url="example/cxselect">多级联动</a></li>
                                </ol>
                            </div>
                            <!-- END RIBBON -->
                            <div class="content">
                                <style>#cxselect-example textarea{margin:10px 0;}</style>
                                <div class="panel panel-default panel-intro">

                                    <div class="panel-body">
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="one">
                                                <div class="widget-body no-padding" id="cxselect-example">
                                                    <form id="cxselectform" action="">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading"><b>省市区联动</b>(通过AJAX读取数据)</div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area">
                                                                                    <select class="province form-control" name="province" data-url="data/province.json"></select>
                                                                                    <select class="city form-control" name="city" data-url="data/city.json"></select>
                                                                                    <select class="area form-control" name="area" data-url="data/area.json"></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-primary"><i class="fa fa-pencil"></i> 增加</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area">
                                                                                    <select class="province form-control" name="province" data-url="data/province.json">
                                                                                        <option value="1964" selected>广东省</option>
                                                                                    </select>
                                                                                    <select class="city form-control" name="city" data-url="data/city.json">
                                                                                        <option value="1988" selected>深圳市</option>
                                                                                    </select>
                                                                                    <select class="area form-control" name="area" data-url="data/area.json">
                                                                                        <option value="1991" selected>南山区</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-success"><i class="fa fa-edit"></i> 修改</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading"><b>类别联动</b>(Ajax读取数据)</div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <div class="form-inline" data-toggle="cxselect" data-selects="first,second">
                                                                                    <select class="first form-control" name="first" data-url="data/category-first.json?type=page&pid=5"></select>
                                                                                    <select class="second form-control" name="second" data-url="data/category-second.json" data-query-name="pid"></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-primary"><i class="fa fa-pencil"></i> 增加</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <div class="form-inline" data-toggle="cxselect" data-selects="first,second">
                                                                                    <select class="first form-control" name="first" data-url="data/category-first.json?type=page&pid=5">
                                                                                        <option value="6" selected>网站建站</option>
                                                                                    </select>
                                                                                    <select class="second form-control" name="second" data-url="data/category-second.json" data-query-name="pid">
                                                                                        <option value="9" selected>移动端</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-success"><i class="fa fa-edit"></i> 修改</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading"><b>省市区联动</b>(通过JSON渲染数据)</div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <!--由于在初始化中修改了默认值,所以这里需要修改-jsonSpace/jsonValue/jsonName的值-->
                                                                                <div class="form-inline" data-toggle="cxselect" data-url="assets/libs/jquery-cxselect/js/cityData.min.json"
                                                                                     data-selects="province,city,area" data-json-space="" data-json-name="n" data-json-value="">
                                                                                    <select class="province form-control" name="province"></select>
                                                                                    <select class="city form-control" name="city"></select>
                                                                                    <select class="area form-control" name="area"></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-primary"><i class="fa fa-pencil"></i> 增加</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-9">
                                                                                <!--由于在初始化中修改了默认值,所以这里需要修改-jsonSpace/jsonValue/jsonName的值-->
                                                                                <div class="form-inline" data-toggle="cxselect" data-url="assets/libs/jquery-cxselect/js/cityData.min.json"
                                                                                     data-selects="province,city,area" data-json-space="" data-json-name="n" data-json-value="">
                                                                                    <select class="province form-control" data-first-title="选择省">
                                                                                        <option value="">请选择</option>
                                                                                        <option value="浙江省" selected>浙江省</option>
                                                                                    </select>
                                                                                    <select class="city form-control" data-first-title="选择市">
                                                                                        <option value="">请选择</option>
                                                                                        <option value="杭州市" selected>杭州市</option>
                                                                                    </select>
                                                                                    <select class="area form-control" data-first-title="选择地区">
                                                                                        <option value="">请选择</option>
                                                                                        <option value="西湖区" selected>西湖区</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3 text-right">
                                                                                <h6><label class="label label-success"><i class="fa fa-edit"></i> 修改</label></h6>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                                <textarea class="form-control" rows="8">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/require.min.js" data-main="assets/js/require-backend.min.js"></script>
    </body>
</html>