body {
    color: #676a6c;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, "微软雅黑", sans-serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h2 {
    font-size: 24px;
}

.gray-bg {
    background-color: #f3f3f4;
}

.middle-box {
    height: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    width: 400px;
    z-index: 100;
}

.loginscreen.middle-box {
    margin-left: -150px;
    margin-top: -330px;
    width: 300px;
}

.middle-box h1 {
    font-size: 170px;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 100;
}

.text-center {
    text-align: center;
}

.m-t {
    margin-top: 15px;
}

.m-b {
    margin-bottom: 15px;
}

.full-width {
    width: 100% !important;
}

.block {
    display: block;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.btn {
    border-radius: 3px;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

.form-control, .single-line {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}