body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, button, input, select, textarea, .ui-dialog {
    /*font-family: microsoft yahei, Arial, sans-serif;*/
    font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

/* rewrite AdminLTE style */
.skin-blue .main-header .navbar {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -1px 8px 1px #bbbbbb;
    -moz-box-shadow: 0 -1px 8px 1px #bbbbbb;
    box-shadow: 5px -1px 8px 1px #bbbbbb;
}

.skin-blue .main-header .logo {
    background-color: #222d32;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #555555;
    border-right: 1px solid #eeeeee;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #000000;
    background-color: #eeeeee;
}

.navbar-fixed-top, .navbar-static-top {
    background: #f3f3f4;
}

.navbar-custom-menu > .navbar-nav > li {
    border-left: 1px solid #eee;
}

.skin-blue .main-header .navbar .nav > li > a {
    color: #333333;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus {
    color: #000000;
    background-color: #eee;
}

.content-header > .breadcrumb {
    float: left;
    left: 10px;
}

.content-header > .breadcrumb > li + li:before {
    content: '/\00a0';
}

.box-header .box-title {
    font-size: 14px;
}

.panel-primary {
    border-color: #1ab394;
}

.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394;
}

.modal-content {
    border-radius: 6px;
}

.btn-default {
    background-color: #1ab394;
    color: #ffffff;
    border-color: #1ab394;
}

.btn-default:hover,
.btn-default:active,
.btn-default.hover {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.main-footer {
    font-size: 12px;
    color: #676a6c;
}

/* rewrite AdminLTE style end */

/* rewrite bootstrap-dialog style */
.bootstrap-dialog.type-primary .modal-header {
    background-color: #1ab394;
}

/* rewrite bootstrap-dialog style end */

/* icon */
/*.active, .available, .in-progress, .running, .saving, .up, span.head {
    color: #468847;
}*/

.abnormal, .applying, .attaching, .backup-creating, .ceasing, .configuring, .creating, .decommissioning, .deleting,
.detaching, .error, .executing, .faulty, .instance-ceasing, .instances-adding, .instances-modifying, .instances-removing,
.invalid-tackling, .issue-tackling, .migrating, .modifying, .pg-applying, .poweroffed, .poweroffing, .poweroning,
.rdb-instance-introducing, .rdsproxy-updating, .recovering, .releasing, .rescuing, .resetting, .resizing, .restarting,
.snapshot-creating, .starting, .stopped, .stopping, .switching, .syncing, .temp-creating, .terminating, .updating,
.vxnet-changing, .vxnet-joining, .vxnet-leaving {
    color: #c09853;
}

.icon-status {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /*height: 10px;*/
    /*width: 10px;*/
    height: 15px;
    width: 15px;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}

.icon-status.icon-active, .icon-status.icon-alarm-ok, .icon-status.icon-alarm-status-change, .icon-status.icon-available,
.icon-status.icon-in-progress, .icon-status.icon-running, .icon-status.icon-saving, .icon-status.icon-service-status-healthy,
.icon-status.icon-successful, .icon-status.icon-up, .icon-status.icon-verifying_icp, .icon-status.icon-very_icp_failed,
.icon-status.icon-very_icp_successed {
    background: #468847;
    border-color: #dff0d8;
}

.icon-status.icon-abnormal, .icon-status.icon-alarm-alarm, .icon-status.icon-alarm-trigger-action, .icon-status.icon-applying,
.icon-status.icon-attaching, .icon-status.icon-backup-creating, .icon-status.icon-ceasing, .icon-status.icon-configuring,
.icon-status.icon-creating, .icon-status.icon-decommissioning, .icon-status.icon-deleting, .icon-status.icon-detaching,
.icon-status.icon-error, .icon-status.icon-executing, .icon-status.icon-faulty, .icon-status.icon-instance-ceasing,
.icon-status.icon-instances-adding, .icon-status.icon-instances-modifying, .icon-status.icon-instances-removing,
.icon-status.icon-invalid-tackling, .icon-status.icon-issue-tackling, .icon-status.icon-maintain, .icon-status.icon-migrating,
.icon-status.icon-modifying, .icon-status.icon-pg-applying, .icon-status.icon-poweroffed, .icon-status.icon-poweroffing,
.icon-status.icon-poweroning, .icon-status.icon-rdb-instance-introducing, .icon-status.icon-rdsproxy-updating,
.icon-status.icon-recovering, .icon-status.icon-releasing, .icon-status.icon-rescuing, .icon-status.icon-resetting,
.icon-status.icon-resizing, .icon-status.icon-restarting, .icon-status.icon-service-status-fetching, .icon-status.icon-snapshot-creating,
.icon-status.icon-starting, .icon-status.icon-stopped, .icon-status.icon-stopping, .icon-status.icon-switching,
.icon-status.icon-syncing, .icon-status.icon-temp-creating, .icon-status.icon-terminating, .icon-status.icon-updating,
.icon-status.icon-vxnet-changing, .icon-status.icon-vxnet-joining, .icon-status.icon-vxnet-leaving,
.icon-status.icon-working, .icon-status.syncing {
    background: #c09853;
    border-color: #fcf8e3;
}

/* icon end */

/* context menu */
.context-menu {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 105;
    min-width: 160px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #777;
    -webkit-box-shadow: 0 0 10px #777;
    -moz-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
    list-style: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.context-menu a {
    color: #555;
    display: block;
    padding: 5px 10px;
}

/* context menu end */

/* 公共样式 */
/*.fixed-table-container thead th {
    border-left: 0;
}

.fixed-table-container tbody td {
    border-left: 0;
}*/
.table {
    color: #677179;
}

.table thead th {
    /*background: #e4eaec;
    color: #58666e;*/

    color: #676A6C;

    /*background-color: #607081;
    color: #eeeeee;
    border-left: 0;*/
}

.no-borders {
    border: none !important;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.fieldset {
    border: 1px solid #ddd;
    padding: 30px 15px;
    position: relative;
}

.legend {
    margin-top: -1.2em;
    font-size: 14px;
    position: absolute;
    top: .5em;
    background: white;
    padding: 0 10px;
    margin-left: -10px;
}

.filter-label {
    float: left;
    line-height: 34px;
    width: 100px;
    text-align: right;
}

label {
    font-weight: normal;
}

.fl {
    float: left;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb5 {
    padding-bottom: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr5 {
    margin-right: 5px;
}

.ml15 {
    margin-left: 15px;
}

.pd0 {
    padding: 0px;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb15 {
    padding-bottom: 15px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pipe {
    height: 1px;
    margin: 4px 0;
}

/* 公共样式 end */

/* 颜色 */
.dark {
    color: #333 !important
}

.white {
    color: #FFF !important
}

.red {
    color: #DD5A43 !important
}

.red2 {
    color: #E08374 !important
}

.light-red {
    color: #F77 !important
}

.blue {
    color: #478FCA !important
}

.light-blue {
    color: #93CBF9 !important
}

.green {
    color: #69AA46 !important
}

.light-green {
    color: #B0D877 !important
}

.orange {
    color: #FF892A !important
}

.orange2 {
    color: #FEB902 !important
}

.light-orange {
    color: #FCAC6F !important
}

.purple {
    color: #A069C3 !important
}

.pink {
    color: #C6699F !important
}

.pink2 {
    color: #D6487E !important
}

.brown {
    color: brown !important
}

.grey {
    color: #777 !important
}

.light-grey {
    color: #BBB !important
}

/* 颜色 end */

/*table sytle*/
/*.bootstrap-table .table thead tr {*/
/*background: #00A1D4;*/
/*}*/

/* tooltip样式 */
.tooltip.in {
    opacity: .8
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px
}

.tooltip-inner {
    max-width: 250px;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #000;
    border-width: 5px 5px 0
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: #000;
    border-width: 5px 5px 5px 0
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: #000;
    border-width: 5px 0 5px 5px
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000;
    border-width: 0 5px 5px
}

/* tooltip样式 end */

/* 右侧主显示区 */
.content-wrapper, .right-side {
    /*background: #f5f5f5;*/
    background: #f3f3f4;
}

.server-table {
    background: white;
    margin-top: 20px;
}

.opt-history {
    background: white;
}

.content-header {
    position: relative;
}

.content-header h1 {
    font-family: microsoft yahei, Arial, sans-serif;
    color: #535353;
}

.fa-circle-o {
    margin-left: 22px;
}

.page-header h4 {
    color: #337ab7;
}

.page-header h4 small {
    margin-left: 15px;
}

/* 右侧主显示区 end */

/* 首页 */
.c-bg1 {
    background: #83E093;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.c-bg2 {
    background: #5CC5EB;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.c-bg3 {
    background: #AA94D9;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.small-box {
    height: 130px;
    color: white;
}

.small-box .div-img {
    height: 100%;
    width: 30%;
    font-size: 45px;
    text-align: center;
    line-height: 130px;
    background: rgba(70, 70, 70, 0.1);
    position: relative;
}

.small-box .div-text {
    width: 65%;
    height: 100%;
    text-align: center;
}

.small-box .div-text p {
    font-size: 24px;
    margin-top: 18px;
}

.small-box .div-text h4.findall {
    font-size: 16px;
    text-align: right;
    color: #fff;
    margin-top: -10px;
}

.small-box .div-text h3 span {
    font-size: 16px;
    margin-left: 5px;
}

.div-img .today-icon {
    width: 46px;
    height: 46px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -23px;
}

.div-img .icon1 {
    background: url(/static/images/today-icon3.png) no-repeat;
}

.div-img .icon2 {
    background: url(/static/images/today-icon2.png) no-repeat;
}

.div-img .icon3 {
    background: url(/static/images/today-icon1.png) no-repeat;
}

.div-img .icon4 {
    background: url(/static/images/today-icon4.png) no-repeat;
}

/* 首页 end */

/* 分发文件页面 */
.fastpush-box {
    width: 790px;
    border: 1px solid #DDDDDD;
    min-height: 80px;
    margin-left: 80px;
    padding: 0 15px;
}

.fastpush-box-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 13px;
    height: 54px;
}

.box-header-title {
    line-height: 54px;
    font-size: 15px;
    font-weight: 700;
}

.fileinput-button {
    overflow: hidden;
    position: relative;
}

.fileinput-button input[type=file] {
    width: 150%;
    height: 100%;
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    left: -40px;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.chosen-container-single .chosen-default {
    color: #999;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 6px 0 6px 8px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-clip: padding-box;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 20px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/static/images/chosen-sprite.png) no-repeat 0px 6px;
}

.chosen-container a {
    cursor: pointer;
}

.chosen-single {
    height: 34px !important;
}

.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #ddd;
    background: white url(/static/images/chosen-sprite.png) no-repeat 100% -20px;
    background: url(/static/images/chosen-sprite.png) no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

/* 分发文件页面 end */

/* 常用作业页面 */
.form-inline .form-control.searchInput {
    width: 212px;
}

/* 常用作业页面 end */

/* 新建作业页面 */
ul.group-ul, ul.group-node-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.group-ul > li, ul.group-node-ul > li {
    margin: 0;
    padding: 0;
}

li.group-li {
    padding: 10px 0;
}

.group-node-top1 {
    background: #69BD69;
}

.group-node-top2 {
    background: #6A97D0;
}

.group-node-top {
    height: 45px;
    color: #676a6c;
    position: relative;
}

.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.group-name-input {
    width: 200px;
    display: inline-block;
}

.step-cut {
    right: 96px;
}

.step-down, .step-up {
    right: 50px;
}

.step-close {
    right: 8px;
}

.step-down, .step-up, .step-cut, .step-close {
    position: absolute;
    top: 2px;
    color: #676a6c;
}

.group-node-header .group-node-table {
    background-color: #f0f0f0;
}

.group-node-table {
    margin-bottom: 0;
}

.table-out-bordered {
    border: 1px solid #ddd;
}

.group-node-item {
    position: relative;
}

.item-cut {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: -10px;
    bottom: -11px;
    font-size: 22px;
    opacity: 0;
    display: none;
    z-index: 10;
}

.group-node-footer {
    border: 1px solid #ccc;
    height: 45px;
    background: #f6f8f8;
    position: relative;
}

.add-node {
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 10px;
    color: #2985c2;
}

.add-step {
    display: inline-block;
    position: relative;
}

.add-step ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 99999;
}

/* 新建作业页面 end */

/* 定时任务 */
.cron-box {
    width: 400px;
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px 5px;
}

.cron-box .label-d {
    border: 1px solid #ddd;
    padding: 10px 0;
}

/* 定时任务 end */