<!-- Logo -->
<a href="/" class="logo">
    <span class="logo-mini"><img alt="logo" src="/static/images/ijobs.png"></span>
    <img alt="logo" src="/static/images/ijobs.png">
    <span class="logo-lg" style="display: inline-block;"><b>OneStack</b></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell orange"></i>
                    <span class="label label-warning">{{ notify_count }}</span>
                    <span>消息中心</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have {{ notify_count }} notifications</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-warning text-yellow"></i> Very long description here that
                                    may not fit into the
                                    page and may cause design problems
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user text-red"></i> You changed your username
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-question-circle mr5 f20 blue"></i>
                    <span>帮助</span>
                </a>
                <ul class="dropdown-menu" style="width: 100px;">
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">用户指南</a></li>
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">常见问题</a></li>
                </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <img src="/static/images/user2-160x160.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs"> Light <i class="caret"></i> </span>
                </a>
                <ul class="dropdown-menu" style="width:100px;">
                    <li>
                        <a href="#" data-permalink="" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-gears"></i>
                            <span>账户信息</span></a>
                    </li>
                    <li>
                        <a href="/help" target="_blank" class="c-nav-help" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-question-circle mr5 f20"></i>
                            <span>帮助</span>
                        </a>
                    </li>
                    <li>
                        <a id="logout" href="javascript:void(0);" class="c-nav-out" style="height: 40px;
    line-height: 40px;padding: 3px 10px;">
                            <i class="fa fa-sign-out mr5 f20"></i>
                            <span>注销</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-language blue"></i>
                    语言
                </a>
                <ul class="dropdown-menu" style="width: 100px;">
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">简体中文</a></li>
                    <li><a href="#" style="height: 40px;line-height: 40px;padding: 3px 10px;">English</a></li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!--
            <li>
                <a href="/lockscreen">
                    <i class="fa fa-lock"></i>
                    <span>锁屏</span>
                </a>
            </li>-->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>