<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    {% block title %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!-- Loading Bootstrap -->
    <link href="/static/css/backend.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    {% block custom_head_css_js %}{% endblock %}
</head>
{% block content %}{% endblock %}